body {
  background-color: #F7F7F7 !important;
}

.container {
  padding: 13px 36px 17px;

  background: #FFFFFF;

  margin-left: auto;
  margin-right: auto;

  min-height: 100vh;
  max-width: 1010px;
}

.ant-layout {
  background: none !important;
}

.ant-space.ant-space-vertical {
  gap: 36px !important;
}

.example {
  text-align: center;
  height: 416px;
}

@media (max-width: 769px) {
  .container {
    padding: 0px 16px 20px;
  }

  .ant-space.ant-space-vertical {
    gap: 20px !important;
  }
}
