.list-films {
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 37px;
  column-gap: 36px;
}

@media (max-width: 769px) {
  .list-films {
    row-gap: 20px;
  }
}

@media (max-width: 500px) {
  .list-films > li {
    width: 100%;
  }
}