.item-films {
  display: flex;

  width: 451px;
  height: 279px;

  box-shadow: 0px 0px 12px 1px rgba(34, 60, 80, 0.2);
}

.item-films-img {
  max-width: 183px;
  width: 100%;
}

.item-films-img img {
  width: 100%;
  height: 100%;
}

.item-films-information {
  max-width: 268px;
  
  padding: 10px 20px 11px;

  display: flex;
  flex-direction: column;
}

.header-item {
  position: relative;

  display: flex;
  justify-content: space-between;

  margin-bottom: 3px;
}

.title-film {
  width: max-content;
  max-width: 194px;
  
  margin: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.card-popularity-count {
  position: absolute;
  top: -2px;
  right: -12px;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;

  border-radius: 50%;
  border: 3px solid #E90000;

  width: 34px;
  height: 34px;
  
  font-size: 12px;
  font-weight: 500;
}

.card-popularity-count.orange {
  border-color: #E97E00;
}

.card-popularity-count.yellow {
  border-color: #E9D100;
}

.card-popularity-count.green {
  border-color: #66E900;
}

.date-film {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #827E7E;
  
  margin-bottom: 7px;
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 8px;

  margin-bottom: 7px;
}

.genres-item {
  height: 100%;
  max-height: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);

  background: #FAFAFA;
  
  border: 1px solid #D9D9D9;
  border-radius: 2px;

  padding: 0 4.5px;

  display: flex;
  align-items: center;
}

.descripton-film {
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 500px) {
  .item-films {
    width: 100%;
    height: 100%;
    max-height: 245px;

    display: block;

    padding: 6px 10px 11px;
  }

  .item-films-main-information {
    display: flex;
    justify-content: space-between;
    gap: 13px;

    margin-bottom: 10px;
  }

  .item-films-img {
    max-width: 60px;
    max-height: 91px;

    width: 100%;
    height: 100%;
  }

  .item-films-information {
    max-width: 100%;
    width: 100%;

    padding: 0;

    display: block;
  }

  .header-item {
    margin-bottom: 2px;
  }

  .card-popularity-count {
    top: -3px;
    right: -4px;
  }

  .title-film {
    max-width: 330px;
  }

  .genres-list {
    margin-bottom: 0;
  }

  .item-films-secondary-information {
    display: flex;
    flex-direction: column;
  }
}
